<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="navbar-container">
        <%- include('navbar.ejs') %>
    </div>
    <div class="cart-container">
        <h1>Your Shopping Cart</h1>
        <ul class="cart-list">
            <% if (cart && cart.products && cart.products.length > 0) { %>
                <% cart.products.forEach(function(product) { %>
                    <li class="product-item">
                        <div class="product-image">
                            <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
                        </div>
                        <div class="item-details">
                            <h2><%= product.name %></h2>
                            <p>Price: <%= product.price %></p>
                            <p>Quantity: <%= product.quantity %></p>
                        </div>
                        <div class="item-actions">
                            <form method="POST" action="/cart/add/<%= session.user._id %>" class="cart-action-form">
                                <input type="hidden" name="productId" value="<%= product.productId %>">
                                <button type="submit" class="quantity-adjust-button" value="+">+</button>
                            </form>
                            <form method="POST" action="/cart/delete/<%= session.user._id %>" class="cart-action-form">
                                <input type="hidden" name="productId" value="<%= product.productId %>">
                                <button type="submit" class="quantity-adjust-button" value="-">-</button>
                            </form>
                        </div>
                    </li>
                <% }) %>
            <% } else { %>
                <li class="empty-cart-message">
                    <p>Your cart is empty.</p>
                </li>
            <% } %>
        </ul>
        <div class="order-placement">
            <form method="POST" action="/orders/place" class="place-order-form">
                <input type="hidden" name="userId" value="<%= session.user._id %>">
                <button type="submit" class="place-order-button" <% if (!cart || cart.products.length === 0) { %> disabled <% } %>>Place Order</button>
            </form>
        </div>
    </div>
</body>
</html>
